@model MVC.Areas.Admin.Models.DeleteViewModel
@using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = "formConfirmDelete"}))
{
    <div class="row">
        <div class="col-auto mx-auto">
            <p class="text-center">
                <h5>Bạn có chắc chắn muốn xóa?</h5>
                @Html.TextBoxFor(model =>model.ID, new { hidden = true})
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <button type="submit" class="btn btn-primary ">Yes</button>
            <button type="button" class="btn btn-secondary " data-dismiss="modal">No</button>
        </div>
    </div>
}
