
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height:430px">
    <div class="row align-content-center h-100">
        <div class="col">
            <h1 class="text-center ">Không tìm thấy trang</h1>
        </div>
    </div>
</div>

