
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}
.background-img{
    background:url(../Resource/bg.png);
    background-size:100% 100%;
    height:100px;
}

.container-hard {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

footer {
    background-color: #717070;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.non-flex{
    display:inline !important;
}

.btn-search-docs-toggle {
    line-height: 1;
    color: #212529;
}

.commment{
    font-size: 14px;
}
.rate-point{
    font-size: 28px;
    font-weight:bold;
}
.rate-pick {
    font-size: 18px;
}
.star.fas{
    color: #ffdb00;
}
.star.far {
    color: #000000;
}
.name{
    font-weight:bold;
    font-size: 15px;
}

.order-navbar{
    background: #EFF3FF;
}
.order-navbar-nav .nav-link{
    color:#717070;
    font-size:20;
}
.bg-dark-light {
    background: #E8E8E8;
}
.super-black{
    color:black;
}
.clip-background {
    background-image:url('../Resource/ClipBG.svg');
    background-size:cover;
    background-repeat:no-repeat;
}
.clip-background .container {
    padding: 70px 1.3rem 70px 1.3rem;
}
ul li{
    list-style-type:none;
}
.big-header{
    color:white;
    font-weight:bold;
    font-size:45px;
    line-height:70px;
    text-align:center;
    margin-top:25px;
   
}
.smaller-header {
    color: white;
    font-size:20px;
    font-weight:200;
    text-align:center;
}
.btn-pick-your-case {
    display: inline-block;
    font-weight: bold;
    color: #0D2A54;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FCF295;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    border-radius:20px;
    margin-top:70px;   
}
@media (min-width:768px) {


    .big-header{
        font-size:55px;
    }
    .smaller-header{
        font-size:21px;
    }
}
@media (min-width:992px){
    .clip-background .container {
        padding: 70px 1.3rem 70px 70px;
    }
    .big-header, .smaller-header{
        text-align:start;
    }
    .big-header{
        font-size:45px;
    }
    .smaller-header {
        font-size: 20px;
    }
}
@media (min-width:1200px){
    .big-header {
        font-size: 55px;
    }

    .smaller-header {
        font-size: 22px;
    }
}
.btn-pick-your-case:hover {
    color: #0D2A54;
    background-color: #FFEF56;
}
.flow-card {
    background-color: #FFFFFF;
    padding: 15px 15px 15px 15px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 15px;
    box-shadow: 10px 11px 15px rgba(0,0,0,.31);
    width:400px;
}
.group-text{
    padding:0px;
    margin:0px;
    font-size:19px;
    font-weight:600;
}
.group-text li span{
    position:relative;
    padding-left:55px;
    display:inline-block;
}
.group-text li{
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
}
.circle-bullet {
    background-color: #6ADAEC;
    position:absolute;
    width:30px;
    height:30px;
    border-radius:50%;
    margin-top:auto;
    margin-bottom:auto;
    left:10px;
}
.circle-bullet-2{
    top:20px;
}
.on-carousel {
    opacity: 0;
    background-color: aliceblue;
}
.on-carousel:hover{
    opacity:1;

}
.item-counter{
    position:relative;
    top:-10px;
    left:-10px;
}
.container-recommend{
    background:url(../Resource/BGRecommend.svg);
    background-size:cover;
    background-repeat:no-repeat;
}
.text-recommend {
    color: #0D2A54;
}
.container-lasted {
    background: url(../Resource/BGLasted.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-lasted {
    color: #20BED9;
}
.image-on-home{
    width:150px;
    height:310px;
}
.multi-item-carousel .carousel-inner .carousel-item-right.active,
.multi-item-carousel .carousel-inner .carousel-item-next {
    transform: translateX(50%);
}

.multi-item-carousel .carousel-inner .carousel-item-left.active,
.multi-item-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-50%)
}

@media (min-width:576px)
{
    .multi-item-carousel .carousel-inner .carousel-item-right.active,
    .multi-item-carousel .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

    .multi-item-carousel .carousel-inner .carousel-item-left.active,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%)
    }
}
@media (min-width:768px) {
    .multi-item-carousel .carousel-inner .carousel-item-right.active,
    .multi-item-carousel .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .multi-item-carousel .carousel-inner .carousel-item-left.active,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        transform: translateX(-25%)
    }
}
@media (min-width:1200px) {
    .multi-item-carousel .carousel-inner .carousel-item-right.active,
    .multi-item-carousel .carousel-inner .carousel-item-next {
        transform: translateX(16.67%);
    }

    .multi-item-carousel .carousel-inner .carousel-item-left.active,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        transform: translateX(-16.67%)
    }
}
.multi-item-carousel .carousel-inner .carousel-item-right,
.multi-item-carousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.product-name{
    height:52px;
    font-weight:600;
}
.product-price{
    font-size:20px;
    color:coral;
    height:40px;
}
.product-discount{
    height:20px;
    font-size:12px;
    color:#bdbdbd;
}

.h-custom-40{
    height:40%;
}
.h-custom-12{
    height:12%;
}
.view {
    width:100%;
    height:100%;
   float: left;
   overflow: hidden;
   position: relative;
   cursor: default;
   background: #fff;
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view a.product {
   display: block;
   position: relative;
}
.view a.add {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #20BED9;
   font-weight:600;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #217987;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.add: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-eighth .mask {
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}

.view-eighth a.add {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.3s;
    -moz-transition: all 0.2s ease-in-out 0.3s;
    -o-transition: all 0.2s ease-in-out 0.3s;
    -ms-transition: all 0.2s ease-in-out 0.3s;
    transition: all 0.2s ease-in-out 0.3s;
}
.view-eighth a.info {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.3s;
    -moz-transition: all 0.2s ease-in-out 0.3s;
    -o-transition: all 0.2s ease-in-out 0.3s;
    -ms-transition: all 0.2s ease-in-out 0.3s;
    transition: all 0.2s ease-in-out 0.3s;
}

.view-eighth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}


.view-eighth:hover a.add {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.view-eighth:hover a.info {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

@keyframes bounceY {
    0% {
        transform: translateY(-205px);
    }

    40% {
        transform: translateY(-100px);
    }

    65% {
        transform: translateY(-52px);
    }

    82% {
        transform: translateY(-25px);
    }

    92% {
        transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
    }

    40% {
        -moz-transform: translateY(-100px);
    }

    65% {
        -moz-transform: translateY(-52px);
    }

    82% {
        -moz-transform: translateY(-25px);
    }

    92% {
        -moz-transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
    }
}

@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
    }

    40% {
        -webkit-transform: translateY(-100px);
    }

    65% {
        -webkit-transform: translateY(-52px);
    }

    82% {
        -webkit-transform: translateY(-25px);
    }

    92% {
        -webkit-transform: translateY(-12px);
    }

    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
    }
}

.comment-image{
    width:64px;
}
.comment-name{
    font-weight:bold;
}
.comment-replies{
    font-size:13px;
}
.comment-replies .comment-image{
    width:58px;
}
.comment-tools{
    font-size:10px;
}
.comment-tools:hover{
    cursor:pointer;
}
.comment-tools ul li a{
    font-size:14px;
}
@media (min-width:768px) {
    .comment-image{
        width:70px;
    }
    .comment-name{
        font-size:16px;
    }
    .comment-replies, .comment-replies .comment-name {
        font-size: 13px;
    }
    .comment-replies .comment-image{
        width:64px;
    }
}

.btn-buy{
    font-size:22px;
}
.h-custom-15{
    height:15%;
}
.image-on-cart{
    width:80px;
    height:175px;
}
.cart td,.cart th{
    vertical-align:middle;
}
.btn-checkout{
    font-size:19px;
    padding: 15px 25px 15px 25px;
}
.first-cell{
    display:none;
}
.quantity-cell {
    width: 160px;
}
.name-cell{
    width:250px;
}
.price-cell, .sub-total-cell{
    width:120px;
}
@media (min-width:992px) {
    .first-cell {
        display: table-cell;
        width:160px;
    }
    .name-cell{
        width:initial;
    }
}
.text-total{
    font-size:18px;
    color:#ff370a;
    font-weight:700;
}

