@charset "utf-8";
/* CSS Document */

.wapper{
	width: 100%;
	height:auto;
	position: relative;
	top: 20px;
}
.designer{
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}	
.col-left{
	width: 300px;
	height: auto;
	position: absolute;
	left: 50px;
	top: 50px;
}
.box ul li a {
	font-size: 23px;
}
.col-right{
	width: 210px;
	height: auto;
	position: absolute;
	right: 50px;
	top: 100px;
}
.color-header{
	border-bottom: 1px solid;
}
.color-pick{
	width: 80%;
	margin: auto;
	height: auto;
}
.color-button{
	width:20px;
	height: 20px;
	margin: 5px;
}
.box{
	background-color: #FFFFFF;
	display: inline-block;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	margin-bottom: 12px;
}
.menu-left {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.menu-left li a {
	color: #000000;
	display: block;
	font-family: Garamond;
	font-size: 16px;
	line-height: 20px;
	outline: medium none;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #CCCCCC;
}
a {
	color: #428bca;
	text-decoration: none;
}
.viewer{
	width: 300px;
	height: 700px;
	position: relative;
	margin: auto;
}
.case-color{
	width: 100%;
	height: 100%;
	border-radius: 50px;
	position: absolute;
}
.product-design{
	float: left;
    height: 100%;
    position: static;
	margin: auto;
    width: 100%;
	z-index: auto;
}
.design-area{
	border: 1px dashed #000000;
    float: left;
    position: absolute;
	height: 580px; 
	width: 280px; 
	left: 10px; 
	top: 10px; 
	border-radius: 0px; 
	z-index: 200;
	overflow: hidden;
}
.sidebar{
	float: right;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 2;
}
.cover-area{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	opacity: 1;
	background-color:rgba(0,0,0,0.61);
	z-index: 2500;
	visibility: hidden;
}

.size-dialog{
	width: 220px;
	opacity: 1;
	height: auto;
	position: absolute;
    left:150px;
    background:#bdbdbd;
	visibility: hidden;
    z-index:300;
    top: -10px;
    border-radius:10px;
}
.box-font {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 11px;
    min-height: 62px;
	height: 70px;
    padding: 5px;
    margin:7px;
    text-align: center;
    width: 18%;
}
.font-alot{
	display: inline-block;
	width: 100%;
}
a.box-font:hover,a.box-img:hover {
    text-decoration: underline;
}

.box-img{
	display: inline-block;
	margin: 4px;
	width: 150px;
	height: 150px;
	padding: 4px 0;
}


#SizeText::before {
    content: " ";
    position: absolute;
    left: -12px;
    top:50px;
    border-right: 15px solid #CCCCCC;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.img-dialog {
    width: 240px;
    opacity: 1;
    height: auto;
    position: absolute;
    left: 170px;
    background: #bdbdbd;
    visibility: hidden;
    z-index: 300;
    top: 30px;
    border-radius: 10px;
}
#SizeImg::before {
    content: " ";
    position: absolute;
    left: -12px;
    top: 50px;
    border-right: 15px solid #CCCCCC;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}