
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-auto pt-5">
        <ul class="pt-5 d-block">
            <li><a href="#">Chọn sản phẩm</a></li>
            <li><a href="#">Thêm text</a></li>
            <li><a href="#">Thêm hình mẫu</a></li>
            <li><a href="#">Tải ảnh lên</a></li>
            <li><a href="#">Thiết kế của tôi</a></li>
        </ul>
    </div>
    <div class="col-lg">
        <div class="viewer position-relative">
            <div class="product-design">
                <img src="~/Resource/OpTrong/Op1.png" alt="Alternate Text" />
            </div>
            <div class="design-area">

            </div>
        </div>
    </div>
    <div class="col-lg-auto">

    </div>
</div>